.parallax {
    position : absolute;
    height : 100%;
    width : 100%;
    overflow : hidden;
    z-index: -5;
}

.parallax-layer {
    position: absolute;
    width: 100%;
    padding-top : 65px;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    z-index: -1;
    overflow: hidden;
    margin: 0;
    mask-image : linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 25%, rgba(0,0,0,1) 50%, rgba(0,0,0,.7) 75%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 3%, rgba(0,0,0,1) 50%, rgba(0,0,0,.7) 97%, rgba(0,0,0,0) 100%);
    transition : transform 0.7s;
    transition-timing-function: ease-out;
    animation-name : fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
    0% {filter : opacity(0); transform : translateY(-500px);}
    5% {filter : opacity(0); transform : translateY(-500px);}
    35% {filter : opacity(50%); transform : translateY(none);}
    100% {filter : opacity(100%); transform : translateY(none);}
}

#bg0 {
    background: url(../images/bg-blur.jpg);
    background-position: 0% 90%;
    height: 60%;
}

#bg1 {
    background: url(../images/bg2.png);
    background-size: 40%;
    width: 25%;
    height: 80%;
    right: 0px;
    opacity: 0.4;
}

#bg2 {
    background: url(../images/bg2.png);
    background-position: 0% 140%;
    background-size: 90%;
    width: 20%;
    height: 110%;
    right: 0px;
    opacity: 0.5;
}

#bg3 {
    background: url(../images/bg2.png);
    background-size: 200%;
    width: 12%;
    height: 140%;
    right: 0px;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    -webkit-mask: linear-gradient(#000000b3, #000000d9);
    mask: linear-gradient(#000000b3, #000000d9);
    /* opacity: 0.8; */
    z-index: -1;
}

.gradient.mainlist {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,197,61,1) 0%, rgba(255,94,7,1) 90% );
}

.gradient.legacy {
    background-image: linear-gradient( 87.4deg,  rgba(255,241,165,1) 1.9%, rgba(200,125,76,1) 49.7%, rgba(83,54,54,1) 100.5% );
}

.gradient.removed {
    background-image: linear-gradient( 110.3deg,  rgba(238,179,123,1) 8.7%, rgba(216,103,77,1) 47.5%, rgba(114,43,54,1) 89.1% );
}