.banner {
    background: #7542ff;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.banner_content {
    padding: 12px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner_text {
    flex-grow: 1;
    cursor: pointer;
}

.banner_close {
    background: none;
    border: none;
    cursor: pointer;
}

.banner_text,
.banner_close > span {
    color: #ffffff;
    text-align: center;
}