.footer {
    height: 64px;
    min-width: 1200px;
    background: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 32px;
    position : relative;
    width : 100%;
    bottom : -64px;
}

.footer-text {
    color: #525252;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em; /* Add some space between the footer text and the buttons */
}
@media screen and (max-width: 1344px) {
    .footer {
        min-width: 0px;
    }
}

@media screen and (max-width: 992px) {
    .footer {
        padding: 0 16px;
    }
}

#btn-toTop {
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    background: none;
    color: #000000;
    position: absolute;
    bottom: 1%; /* Align the button to the bottom */
    right: 1%; /* Align the button to the right */
    padding-bottom: 2em;
    cursor: pointer;
    z-index: 9999;
}
  
  
  #btn-toTop > div,
  #btn-toTop > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  #btn-toTop:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
  }
  
  #btn-toTop:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  #btn-toTop .clone > *,
  #btn-toTop .text > * {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
  }
  
  #btn-toTop .clone > * {
    transform: translateY(60px);
  }
  
  #btn-toTop:hover .clone > * {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  #btn-toTop:hover .text > * {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  #btn-toTop:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
  }
  
  #btn-toTop:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
  }
  
  #btn-toTop:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
  }
  
  #btn-toTop:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
  }
  
  /* icon style and hover */
  #btn-toTop svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
  }
  
  #btn-toTop:hover svg {
    transform: translateY(-50%) rotate(-90deg);
  }
  
  .github-btn {
    background: #e3edf7;
    padding: 0.2em;
    margin-left: 0.5em;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
    margin-top: -1.2em; /* Adjust the margin to position it higher */
}

.github-btn:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em);
}

.github-btn svg {
    transition: transform 0.5s;
}

.github-btn:hover svg {
    transform: scale(0.9);
    fill: #333333;
}

@media screen and (max-width: 450px) {
  .github-btn,
  #btn-toTop {
    display: none;
  }
}