.header {
    height: 64px;
    min-width: 1200px;
    background: #282120;
    display: flex;
    width : 100%;
    justify-content: space-between;
    padding: 0px 32px;
    /*box-shadow:
    0px 1px 2px rgba(250, 208, 44, 0.5),
    0px 2px 4px rgba(250, 208, 44, 0.5), 
    0px 4px 8px rgba(250, 208, 44, 0.5), 
    0px 8px 16px rgba(250, 208, 44, 0.5);*/
    box-shadow:
    0px 0px 15px 10px rgba(0,0,0,0.5);
    position : fixed;
    top : 0;
    z-index : 2;
}

/* CSS */
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition : background 0.5s, transform 0.5s;
}

.button-54:hover {
    background : rgb(200,200,205);
    animation-name : bounceAnim2;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

button-54:mouseover

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}
.button-54:focus{
    outline: none;
}
/* Define the new class */
.nav-link-button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-decoration: none;
  }
  
  /* Apply the same hover and focus styles to the new class */
  .nav-link-button:focus,
  .nav-link-button:hover {
    color: #fff;
  }
  
  .nav-link-button:focus:after,
  .nav-link-button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .nav-link-button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  
@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

.left-section {
    display: flex;
    align-items: center;
    text-indent: 0%;
    width: auto;
    padding: 10px;
    transition : filter 0.5s ,transform 0.5s;
}

.left-section:hover {
    filter : brightness(70%);
    transform : scale(1.2);
    animation-name : bounceAnim1;
    animation-duration: 0.5s;
    animation-timing-function:  ease-in-out;
}

@keyframes bounceAnim1 {
    0% {
        transform : rotate(0) scale(1);
    }
    33% {
        transform : rotate(-2deg) scale(1.2);
    }
    66% {
        transform : rotate(2deg) scale(1.2);
    }
    100% {
        transform : rotate(0) scale(1.2);
    }
}

@keyframes bounceAnim2 {
    0% {
        transform : translateY(0);
    }
    33% {
        transform : translateY(-2px);
    }
    66% {
        transform : translateY(2px);
    }
    100% {
        transform : translateY(0);
    }
}

#home-link {
    display: flex;
    position: relative;
    text-decoration: none;
    /* Hide the text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.main-icon {
    height: 30px;
    margin: 8px;
}

.main-title {
    height: 24px;
    margin: 0px 8px;
    color: #ffffff;
    font-family: 'IBM Plex Mono', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 24px;
}

.middle-section {
    flex: 1;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    max-width: 256px;
    justify-content: space-between;
}

.twitch-icon,
.youtube-icon,
.discord-icon,
.twitter-icon {
    height: 32px;
    filter: invert(100%);
    transition : transform 0.3s, filter 0.3s;
}

.youtube-icon:hover, .twitch-icon:hover, .twitter-icon:hover, .discord-icon:hover {
    transform : scale(1.2);
    filter: invert(70%)
    drop-shadow(0 0 5px rgba(40,15,0,0.7));
}

.right-section {
    display: flex;
    align-items: center;
    column-gap: 16px;
    width: 256px;
    flex-direction: row-reverse;
}

.right-section a {
    color: #ffffff;
    text-decoration: none;
}

.right-section a:hover {
    text-decoration: none;
}
#checkbox {
    display: none;
}

.hamburger-menu{
    display: none;
}
  
.toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    margin: auto;
    height: calc(4px * 3 + 11px * 2);
}
  
.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #7b52b9;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}
  
  /***** Spin Animation *****/
  
  .bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s),0s;
  }
  
  .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
  }
  
  .bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: calc(0s + 0.35s),0s;
  }
  
  #checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s,calc(0s + 0.35s);
  }
  
  #checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
  }
  
  #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s,calc(0s + 0.35s);
  }
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
#toast-container {
    margin-top: 60px;
}
#checkbox:checked + .toggle + .menu {
    display: block;
}

.menu > li {
    padding: 10px;
    color: white;
    transition: background-color 0.3s ease;
}

.menu > li:hover {
    background-color: #444;
}
@media screen and (max-width: 1600px) {
    .header {
        min-width: 0px;
        padding: 19px 16px;
        column-gap: 16px;
        justify-content: none;
    }
}

@media screen and (max-width: 1693px) {
    .right-section {
        display: inline-flex;
    }
    .middle-section{
        display: none;
        margin-right: 10px;
    }
}
@media screen and (max-width: 1345px) {
    .right-section{
        display: none;
    }
    .left-section{
        display: flex;
    }
    .middle-section{
        display: flex;
        z-index: -10000;
    }
    .toggle {
        position: relative;
        width: 40px;
        cursor: pointer;
        margin: 0px;
        display: flex;
        height: calc(4px * 3 + 11px * 2);
        justify-self: right;
      }
      .hamburger-menu{
        display: flex;
    }
}
@media screen and (max-width: 415px) {
    .middle-section{
        display: none;
    }
}