html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /*\\ -ms-overflow-style: none;
    scrollbar-width: none; */
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.25;
    background: #FAD02C;
    color: #161616;
    box-sizing: border-box;
    /* width: 100%; */
    min-height: 100%;
    margin: 0;
    padding-top : 64px;
    position: relative;
    background: url(/images/bg-blur.jpg);
}

/* For Webkit browsers */
/* 
body::-webkit-scrollbar {
    display: none;
}
*/
body::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #f8efe4;
}
body::-webkit-scrollbar-corner {
    background-color: #f8efe4;
}

/* For Firefox */
body scrollbar {
    width: 0.5em;
    background-color: #f8efe4;
}
body scrollbar thumb {
    border-radius: 10px;
    background-color: #a8a8a8;
}

/* For Edge */
body::-ms-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a8a8a8;
}
body::-ms-scrollbar-track {
    background-color: #f8efe4;
}

p {
    margin: 0;
}
.loader.hidden {
    display: none;
}

.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    right: 40%;
    transform: translate(-50%, -50%);
  }
  
  .loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
.content-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    min-height: 100vh;
}
.no-wrap {
    white-space: nowrap;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=IBM+Plex+Sans:wght@400;600&display=swap');