.middle {
    -ms-flex: 80%;
    flex: 5;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 32px;
}

.list-item {
    background-color: #F8EFE4;
    min-width: 928px;
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 16px;
    max-width: 928px;
    border-radius: 4px;
    padding: 0 16px;
    box-sizing: border-box;
    transition: filter 0.5s, transform 0.3s;
    animation-name: loadingAnim;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    /*box-shadow:
    1px 2px 2px 0px rgba(255, 209, 44, 0.7),
    2px 3px 4px 0px rgba(255, 184, 51, 0.7),
    3px 5px 8px 0px rgba(255, 131, 22, 0.7),
    3px 5px 16px 0px rgba(250, 75, 11, 0.7);
    box-shadow: rgba(240, 124, 46, 0.4) 5px 5px, rgba(240, 124, 46, 0.3) 10px 10px, rgba(240, 124, 46, 0.2) 15px 15px, rgba(240, 124, 46, 0.1) 20px 20px, rgba(240, 124, 46, 0.05) 25px 25px;*/
    box-shadow : 0px 0px 15px 5px rgba(110, 70, 45, 0.3);
}

.list-item:hover{
    filter : brightness(75%);
    cursor: pointer;
    transform : scale(1.1);
}

@keyframes loadingAnim {
    0% {transform : translateY(50px); filter : opacity(0)}
    25% {transform : translateY(50px); filter : opacity(0)}
    100% {transform : translateY(0px); filter : opacity(100%)}
}

.list-number {
    flex: 0.15;
    padding: 0 16px;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
}

.list-thumbnail {
    display: flex;
    justify-content: center;
    width: 285px;
}

.list-thumbnail a {
    display: flex;
    position: relative;
    text-decoration: none;
    /* Hide the text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.list-image {
    height: 160px;
}

.list-info {
    flex: 1;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.level-info {
    display: flex;
    align-items: bottom;
    column-gap: 16px;
}

.level-name {
    color: #161616;
    font-size: 28px;
    font-weight: 600;
    transition: color 0.25s;
    padding: 8px 0px;
    margin-bottom: 12px;
}

.level-id,
.level-author,
.level-verifier{
    flex: 1;
    color: #525252;
    font-size: 18px;
}

.level-id:hover {
    cursor: pointer;
}

.level-id {
    user-select: none;
}

.level-id:before,
.level-author:before,
.level-verifier:before {
    white-space: pre;
    color: #a8a8a8;
    font-size: 14px;
    line-height: 24px;
}

.level-id:before {
    content: "ID\a";
}

.level-author:before {
    content: "created by\a";
}

.level-verifier:before {
    content: "verified by\a";
}

.popup-box {
    display: flex;
    flex-direction: column;
    background: #282120;
    height: fit-content;
    min-height: 200px;
    max-height: 80vh;
    position: fixed;
    inset: 0;
    margin: auto;
    column-gap: 16px;
    max-width: 928px;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 999;
    /*
    overflow: auto;
    box-shadow:
        1px 2px 2px 0px rgba(255, 209, 44, 0.7),
        2px 3px 4px 0px rgba(255, 184, 51, 0.7),
        3px 5px 8px 0px rgba(255, 131, 22, 0.7),
        3px 5px 16px 0px rgba(250, 75, 11, 0.7);
    /* box-shadow: rgba(240, 124, 46, 0.4) 5px 5px, rgba(240, 124, 46, 0.3) 10px 10px, rgba(240, 124, 46, 0.2) 15px 15px, rgba(240, 124, 46, 0.1) 20px 20px, rgba(240, 124, 46, 0.05) 25px 25px; */
    box-shadow :
    0px 0px 16px 8px rgba(80, 66, 55, 0.5);
}

.popup-box h1 {
    font-weight: bold;
}

.popup-box .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 11px;
    border: 0;
}

.popup-header {
    display: flex;
    flex-direction: column;
    top: 0px;
    padding: 0.75em;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

.popup-header .level-name {
    color: #ffffff;
}

.popup-header .level-id,
.popup-header .level-author,
.popup-header .level-verifier{
    color: #c3c3c3;
}

.popup-header .level-id:before,
.popup-header .level-author:before,
.popup-header .level-verifier:before {
    color: #727272;
}

.popup-table td, .popup-table th {
    padding: 1em 2em !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.popup-level-name {
    color: #161616;
    font-size: 28px;
    font-weight: 600;
    margin: 0 auto;
}

.run-info{
    padding: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
    column-gap: 16px;
    background: #fff;
    min-height: 100px;
}

.run-name-header,
.run-percentage-header {
    color: #000000;
    font-size: 16px;
}

.run-name,
.-run-percentage {
    color: #000000;
    font-size: 12px;
}

.run-link{
    color: #000000;
    font-size: 16px;
    transition: color 0.25s;
}

.run-link:hover {
    color: #ff0000;
}

.run-header{
    font-weight: bold;
    display: inline;
    margin: 50px 0;
    column-gap: 16px;
}

#runs-table {
    border-collapse: collapse;
    width: 100%;
}
#runs-table td, #runs-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

@media screen and (max-width: 992px) {
    .middle {
      padding: 32px 16px;
    }

    .list-item {
        height: 96px;
        column-gap: 8px;
        padding: 0 8px;
        min-width: 0px;
        overflow: hidden;
    }

    .list-info {
        flex: 1;
        padding: 8px 8px;
        row-gap: 14px;
    }
    
    .level-info {
        display: flex;
        align-items: bottom;
        column-gap: 8px;
    }

    .list-number {
        padding: 0 8px;
        font-size: 1.5rem;
    }
    
    .level-name {
        font-size: 16px;
    }
    
    .level-id,
    .level-author,
    .level-verifier{
        flex: 1;
        color: #525252;
        font-size: 14px;
    }

    .list-thumbnail {
        width: 171px;
    }

    .list-image {
        height: 96px;
    }
}
@media screen and (max-width: 560px) {
    .level-verifier {
        display: none;
    }
@media screen and (max-width: 535px) {
    .middle {
        padding: 8px 4px;
        row-gap: 24px;
    }

    .list-item {
        height: 82px;
        column-gap: 4px;
        padding: 0 2px;
        min-width: 0px;
        overflow: hidden;
    }

    .list-info {
        flex: 1;
        padding: 4px 4px;
        row-gap: 2px;
    }
    
    .level-info {
        display: flex;
        align-items: bottom;
        column-gap: 8px;
    }

    .list-number {
        padding: 0 8px;
        font-size: 1.5rem;
    }
    
    .level-name {
        font-size: 12px;
    }
    
    .level-id,
    .level-author,
    .level-verifier{
        flex: 1;
        color: #525252;
        font-size: 12px;
    }

    .list-thumbnail {
        width: 150px;
    }

    .list-image {
        height: 80px;
    }

    .level-verifier {
        display: none;
    }
}

@media screen and (max-width: 437px) {
    .middle {
      padding: 8px 4px;
      row-gap: 24px;
    }

    .list-item {
        height: 82px;
        column-gap: 4px;
        padding: 0 2px;
        min-width: 0px;
        overflow: hidden;
    }

    .list-info {
        flex: 1;
        padding: 4px 4px;
        row-gap: 2px;
    }
    
    .level-info {
        display: flex;
        align-items: bottom;
        column-gap: 3px;
    }

    .list-number {
        padding: 0 8px;
        font-size: 1.2rem;
    }
    
    .level-name {
        font-size: 12px;
        padding: 0px 0px;
        padding-top: 2px;
    }
    
    .level-id,
    .level-author,
    .level-verifier{
        flex: 1;
        color: #525252;
        font-size: 12px;
    }

    .list-thumbnail {
        width: 80px;
    }

    .list-image {
        height: 100%;
    }

    .level-verifier {
        display: none;
    }
}

@media screen and (max-width: 340px) {
    .middle {
      padding: 0px 0px;
      row-gap: 12px;
    }

    .list-item {
        height: 60px;
        column-gap: 1px;
        padding: 0 1px;
        min-width: 0px;
        overflow: hidden;
    }

    .list-info {
        flex: 1;
        padding: 0px 0px;
        row-gap: 1px;
    }
    
    .level-info {
        display: flex;
        align-items: bottom;
        column-gap: 0px;
    }

    .list-number {
        padding: 0 2px;
        font-size: 0.9rem;
    }
    
    .level-name {
        font-size: 12px;
    }
    
    .level-id,
    .level-author,
    .level-verifier{
        flex: 1;
        color: #525252;
        font-size: 12px;
    }

    .list-thumbnail {
        width: 40px;
    }

    .list-image {
        height: 60px;
    }

    .level-verifier {
        display: none;
    }
}}