.sidebar {
    -ms-flex: 20%;
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 32px;
    min-width: 320px;
}

#submit-button {
    background-color: #007bff;
    color: white;
    padding: 16px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#submit-button:hover {
    cursor: pointer;
    background-color: #0069d9;
}

.sidebar-item {
    background-color: #F8EFE4;
    padding: 16px;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sidebar-title {
    color: #525252;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.sidebar-description {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 12px;
    row-gap: 12px;
    flex-wrap: wrap;
    padding: 8px;
}

.sidebar-list {
    padding: 0px 0px 0px 32px;
}

.sidebar-list li {
    margin: 14px 0px;
    padding: 0px 8px;
}

/* Existing code... */

@keyframes discord {
    0% {
        height: 70px;
        width: 300px;
    }
    100% {
        height: 500px;
        width: 300px;
    }
}

@keyframes discord-c {
    0% {
        height: 500px;
        width: 300px;
    }
    100% {
        height: 70px;
        width: 300px;
    }
}

.discord {
    animation-name: discord-c;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    float: left;
    height: 70px;
    width: 300px;
}

.discord:hover {
    height: 500px;
    width: 300px;
    float: left;
    animation-name: discord;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; /* Retain styles of the last keyframe */
}

